body{
	background: #C0CAC9;
	/* background: -webkit-linear-gradient(top left, #C0CAC9, #8C90BA);
	background: -moz-linear-gradient(top left, #C0CAC9, #8C90BA);
	background: linear-gradient(to bottom right, #C0CAC9, #8C90BA); */
	display: flex;
	align-items: center;
}



.mobile-container {
	width: 900px;
	background: #fff;
	margin: auto;
	margin: auto;
    border-radius: 3px;
	position: relative;
}

img {
	max-width: 100%;
}

#txtArea{
	width: 800px;
	margin: 20px auto;
}

.resultDiv {
	margin: 20px auto;
	padding: 20px;
	background-color: inherit;
}
